header { background: url("../img/header.jpg");}

a{ color: white;}

hr{ 
    background-color:gray;
	height: 1px;
    border: none;
}
.footer{
    background-color: rgb(47, 51, 95);
    padding: 50px;
	color: white;
}
.end{
    background-color: rgb(47, 51, 75);
	padding: 30px;
	color: white;
}
.images{
	padding: 80px;
	text-align: center;
	margin-bottom: 50px;
}
span.glyphicon {
    font-size: 5em;
}
.icon-bar{
	background-color:white;
	color:white;
}
.jumbotron {
    padding:70px;
    color:floralwhite;
}
.img-responsive{
    max-width: 100%;
	text-align: center;
	padding-bottom:2px;
}














